* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Comic Mono";
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

h3 {
  margin-top: 10px; 
}

a {
  color: darkgray;
  text-decoration: underline;
  transition: all .1s ease-in-out;
}

a:hover {
  color: cornfloweblue;
}

a:active:link {
  color: cornfloweblue;
  text-decoration: none;
  transition: all .1s ease-in-out;
}
